# Datasets
data/
datasets/

# Model outputs & checkpoints
outputs/
generated/
checkpoints/
.torch_cache/
*.log

# Model weights
models/
*.pt
*.pth
*.ckpt
*.task

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Jupyter
.ipynb_checkpoints/

# Screenshots
Screenshot*
