# Datasets
data/

# Model outputs & checkpoints
outputs/

# Model weights
models/
*.pt
*.pth
*.ckpt
*.task

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Jupyter
.ipynb_checkpoints/

# Screenshots
Screenshot*
